* {
    position: relative;
    box-sizing: border-box;
}

html,
body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

p,
ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

em {
    font-style: italic;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: 2em;
}

.autocenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

#cookie-consent {
    width: 50vw;
    height: 30vw;
    border: 3px solid #222;
    border-radius: 5rem;
}

#google-auth {
    width: 30vw;
    height: 50vh;
}

#app {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;

    gap: 1vmin;

    padding: 1vmin;

    background-color: #35c914;
}

.app-panel {
    background-color: white;
    border: 1vmin solid white;
    border-radius: 1vmin;
}

#videolist {
    width: 33vw;
    overflow-y: scroll;
    grid-column: 1;
}

.videolistitem {
    height: 9rem;
    overflow: hidden;
}

.videolistitem img {
    width: 16rem;
    height: 9rem;
    float: left;
}

.videolistitem div {
    float: left;
    padding: 1em;
    width: calc(100% - 16rem - 2rem);
}

.videolistitem div h3 {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.videolistitemlink {
    display: block;
    background-image: url("/icons/iconmonstr-link-2.svg");
    background-size: contain;
    width: 1rem;
    height: 1rem;
}

#controlpanel {
    grid-column: 2;
}

.settingspanel {
    width: calc(100% / 3);
    float: left;
    padding: 1rem;
}